export const crapienv = {
    JAVA_MICRO_SERVICES: "fm-preventionlab-crapi/identity/",
    PYTHON_MICRO_SERVICES: "fm-preventionlab-crapi/workshop/",
    GO_MICRO_SERVICES: "fm-preventionlab-crapi/community/",
};

